{% extends "patientfile/patient_main.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>Your Booked Appointments ! </h1>
        <table class="table table-dark">
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Serial</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>

        </tr>
    </thead>
        <tbody>
        <tr>
            <td>{{ doc_name }}</td>
            <td>{{ increment }}</td>
            <td>{{ date }}</td>
            <td>{{ s_time }}</td>
            <td>{{ e_time }}</td>

        </tr>
        </tbody>

</table>
    </div>
</div>

{% endblock %}